{
  "openapi": "3.1.0",
  "info": {
    "title": "Hub Message - Partner: Create Channel",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.hubmessage.io" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/channels": {
      "post": {
        "summary": "Create channel (Partner)",
        "description": "Creates a new channel in the authenticated workspace. Requires the ENTERPRISE role.",
        "operationId": "partnerCreateChannel",
        "tags": ["Partners"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateChannelRequest" },
              "examples": {
                "whatsappMeta": {
                  "summary": "Official WhatsApp (Meta)",
                  "value": {
                    "name": "Sales channel",
                    "type": "META_WHATSAPP"
                  }
                },
                "instagram": {
                  "summary": "Instagram",
                  "value": {
                    "name": "Instagram channel",
                    "type": "META_INSTAGRAM"
                  }
                },
                "messenger": {
                  "summary": "Messenger",
                  "value": {
                    "name": "Messenger channel",
                    "type": "META_MESSENGER"
                  }
                },
                "telegram": {
                  "summary": "Telegram Bot",
                  "value": {
                    "name": "Telegram channel",
                    "type": "BOT_TELEGRAM"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateChannelResponse" },
                "example": {
                  "id": "019E4C54B1B375A28970B605CA9B03C3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — required field missing or invalid type",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": 400, "message": "Validation error" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": {
            "description": "Business rule violation — account does not have the ENTERPRISE role",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": 422, "message": "This action requires ENTERPRISE role" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing token.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": 401, "message": "Unauthorized" }
          }
        }
      }
    },
    "schemas": {
      "CreateChannelRequest": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Channel name",
            "example": "Sales channel"
          },
          "type": {
            "type": "string",
            "description": "Channel type (platform)",
            "enum": ["META_WHATSAPP", "META_INSTAGRAM", "META_MESSENGER", "BOT_TELEGRAM"],
            "example": "META_WHATSAPP"
          }
        }
      },
      "CreateChannelResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the created channel. Use it as `channelId` in all other endpoints.",
            "example": "019E4C54B1B375A28970B605CA9B03C3"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret Key generated in the Hub Message Security panel"
      }
    }
  }
}
